<html>
   <html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head> 
<body>    
    <div>
        <form action="{% url 'ContactUs' %}" method="post"> 
            {% csrf_token %}
            <input type="text" name="text" placeholder="your name">
            <input type="email" name="email" placeholder="Email" required>
            <input type="mobile" name="mobile" placeholder="mobile" required>     
            <input type="submit" value="submit">                                                                                                 
        </form>
    </div> 
</body> 
</html>          