<html>
   <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'myapp/stylesheet.css' %}">-->
    <title>Document</title>
</head> 
<body style="background-color: blueviolet;">    
    <div>
        <h1 style="text-align: center;"><mark>Welcome To Register Form</mark></h1>
        <form action="{% url 'register' %}" method="post"> 
            {% csrf_token %}
            <input type="text" name="text" placeholder="your name">
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="password" required><br>     
            <input type="submit" value="submit">                                                                                                 
        </form>
    </div>
</body> 
</html>          
